<section class="faq">
    <div class="container">
        <div class="left">
            <img src="assets/faq-img.svg" alt="">
        </div>
        <div class="right">
            <p class="heading">FAQS</p>
            <h1 class="title">What else you <span> need to know</span></h1>
            <div class="faq-cont">
                <div>
                    <li class="faq-li" (click)="faqFunc('faq-li-1','faq-1')" id="faq-1">How do I get my crypto assets back? </li>
                    <li class="collapsed inactive" id="faq-li-1">Once your loan has been paid back in full, you’ll be able to request a withdrawal to have your assets returned to you. Please note it may take up to 2 business days to process your withdrawal.</li><br>
                </div>
                <br>
                <div>
                    <li class="faq-li" (click)="faqFunc('faq-li-2','faq-2')" id="faq-2">How long does it take to get my loan approved?</li>
                    <li class="collapsed inactive" id="faq-li-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsa in vel ea exercitationem non illo recusandae molestias magnam. Tempora, perferendis illo. Laborum porro sint unde, fugit voluptates asperiores molestiae?</li><br>
                </div>
                <br>
                <div>
                    <li class="faq-li" (click)="faqFunc('faq-li-3','faq-3')" id="faq-3">What happens if there's a drastic dip in the market?</li>
                    <li class="collapsed inactive" id="faq-li-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi rem voluptates cumque expedita repellat corporis ratione autem ab pariatur aliquid ad, possimus fuga itaque vero hic, natus vitae dolorum quas.</li><br>
                </div>
                <br>
                <div>
                    <li class="faq-li" (click)="faqFunc('faq-li-4','faq-4')" id="faq-4">If my collateralized crypto assets appreciate in value, can I withdrawal whatever is not needed to secure my loan?</li>
                    <li class="collapsed inactive" id="faq-li-4">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime consequuntur doloribus delectus veniam eveniet quia pariatur aliquid unde, minus eaque, numquam doloremque accusantium amet repudiandae, illo sequi aut error libero?
                    </li><br>
                </div>
                <br>
                <div>
                    <li class="faq-li" (click)="faqFunc('faq-li-5','faq-5')" id="faq-5">Can I use multiple cryptocurrencies to secure my loan?</li>
                    <li class="collapsed inactive" id="faq-li-5">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime consequuntur doloribus delectus veniam eveniet quia pariatur aliquid unde, minus eaque, numquam doloremque accusantium amet repudiandae, illo sequi aut error libero?
                    </li><br>
                </div>
                <br>
                <div>
                    <li class="faq-li" (click)="faqFunc('faq-li-6','faq-6')" id="faq-6">How can I use my SALT Tokens on the platform?</li>
                    <li class="collapsed inactive" id="faq-li-6">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime consequuntur doloribus delectus veniam eveniet quia pariatur aliquid unde, minus eaque, numquam doloremque accusantium amet repudiandae, illo sequi aut error libero?
                    </li><br>
                </div>
            </div>
            <a href="" class="link">DON'T SEE YOUR QUESTION? <br>
CONTACT SUPPORT@SALTLENDING.COM</a>
        </div>
    </div>
</section>