<section class="footer-top">
    <div class="container">
        <h1 class="title">
            Ready to Lorem ipsum dolor set amet?This is a final Call to Action!
        </h1>
        <button class="btn green">GET STARTED NOW</button>
    </div>
</section>
<section class="footer">
    <div class="container">
        <div class="top">
            <div class="left">
                <img class="logo" src="assets/logo.png" alt="">
                <div class="addr">Salt Blockchain Inc, PO Box 8350 Denver, CO 80201</div>
            </div>
            <div class="right">
                <div class="sub">Subscribe for the newsletter</div>
                <div class="inp">
                    <input type="email" name="" id="" placeholder="enter your email">
                    <button class="btn green inp-btn">subscribe</button>
                </div>
            </div>
        </div>
        <div class="middle">
            <div class="m-left">
                <div>
                    <ul>
                        <p class="menu-title">Products</p>
                        <li class="menu">Home</li>
                        <li class="menu">Business Loans</li>
                        <li class="menu">Personal Loans</li>
                        <li class="menu">Features</li>
                        <li class="menu">Stabilization</li>
                        <li class="menu">Rates and Terms</li>
                        <li class="menu">Mobile App</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <p class="menu-title">About SALT</p>
                        <li class="menu">Company</li>
                        <li class="menu">Careers</li>
                        <li class="menu">Media Kit</li>
                        <li class="menu">Where We Lend</li>
                    </ul>
                    <ul>
                        <p class="menu-title">Resources</p>
                        <li class="menu">Newsroom</li>
                        <li class="menu">Worth your Salt</li>
                        <li class="menu">FAQ</li>
                    </ul>

                </div>
                <div>

                    <ul>
                        <p class="menu-title">Contact</p>
                        <li class="menu">Contact Us</li>
                        <li class="menu">General Inquires</li>
                    </ul>
                </div>


            </div>
            <div class="m-right">
                <div class="tech">
                    <div class="heading">Technical Support</div>
                    <li>+1 (720) 575-2272
                    </li>
                    <li> support@saltlending.com</li>
                </div>
                <div class="loan">
                    <div class="heading">Loan Support</div>
                    <li>+1 (720) 457-2288
                    </li>
                    <li>loansupport@saltlending.com</li>
                </div>
                <div class="icons">
                    <img src="assets/icons/Twitter.svg" alt="">
                    <img src="assets/icons/Linkedin.svg" alt="">
                    <img src="assets/icons/Discord.svg" alt="">
                    <img src="assets/icons/YouTube.svg" alt="">
                    <img src="assets/icons/Instagram.svg" alt="">
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="links">
                <li>Privacy Policy</li>
                <li>Promo Code Terms and Conditions</li>
                <li>SALT Token Terms and Conditions</li>
                <li>SEC Settlement</li>
            </div>
        </div>
    </div>
</section>