<section class="assets">
    <img src="assets/assets-v.svg" alt="" class="vec">
    <div class="container">
        <h1 class="a-title">Assets We Accept</h1>
        <p class="a-para">Do you hold several cryptocurrencies? Use a combination of <span>them to get a loan and get funds in USD or Stablecoin.</span> </p>
        <ul>
            <li><img src="assets/crypto/salt.svg" alt=""></li>
            <li><img src="assets/crypto/btc.svg" alt=""></li>
            <li><img src="assets/crypto/usdc.svg" alt=""></li>
            <li><img src="assets/crypto/tusd.svg" alt=""></li>
            <li><img src="assets/crypto/bch.svg" alt=""></li>
            <li><img src="assets/crypto/eth.svg" alt=""></li>
            <li><img src="assets/crypto/pax.svg" alt=""></li>
            <li><img src="assets/crypto/ltc.svg" alt=""></li>
            <li><img src="assets/crypto/bat.svg" alt=""></li>
            <!-- <li><img src="assets/logo-10.svg" alt=""></li> -->
        </ul>
    </div>
</section>