<section class="hero">
    <div class="container">
        <div class="left">
            <h1 class="title">Loans Backed By Crypto</h1>
            <h1 class="sub-title">Don't sell your crypto, borrow against it.</h1>
            <button class="btn hero-btn">GET STARTED</button>
            <div class="links">
                <img src="assets/Android.svg" alt="">
                <img src="assets/Ios.svg" alt="">
            </div>
        </div>
        <div class="right">
            <img class="money" src="assets/hero-img.svg" alt="">
            <img class="hero-vector" src="assets/side-triangle.svg" alt="">
        </div>
    </div>
</section>
<section class="sub-hero">
    <div class="top">
        <div class="container">
            <div class="card">
                <div class="card-left">
                    <p class="card-heading">SALT CREDIT</p>
                    <h1 class="card-title">Buy anything with your crypto. Don't spend it.</h1>
                    <button class="btn card-btn">JOIN THE WAIT LIST</button>
                    <div>
                        <a href="">LEARN MORE</a>
                        <img src="assets/arrow.svg" alt="">
                    </div>
                </div>
                <div class="card-right">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="container">

            <img class="pattern" src="assets/pattern.svg" alt="">
            <div class="stack-main">
                <div class="stack-left">
                    <div class="stack-title"><img src="assets/stack-img.svg" alt=""></div>
                    <p class="stack-para">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                    </p>
                </div>
                <div class="stack-right">
                    <img src="assets/wallet.svg" alt="">
                </div>
            </div>
            <img class="percent" src="assets/percentage.svg" alt="">
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <div class="card">
                <div class="card-left">
                    <p class="card-heading">WHAT IT IS</p>
                    <h1 class="card-title">A loan designed to help you HODL.</h1>
                    <p class="card-para">Unlike a traditional loan that takes your credit score into account, a SALT loan is an asset-backed loan in which your cryptoassets act as collateral for your line of credit. Once you pay back your loan, we’ll return your assets to
                        you.
                    </p>
                    <button class="btn card-btn">GET STARTED NOW</button>

                </div>
                <div class="card-right">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>
                </div>
            </div>
            <div class="the-original">
                <div class="the-left">
                    <h1 class="the-title">The Original <span> Crypto-Backed Loan</span></h1>
                    <ul class="the-list">
                        <li>Starting from $5,000*</li>
                        <li>Interest rates from 3.5%*</li>
                        <li>Terms from 3 to 12 months</li>
                        <li>Starting LTV from 30% - 70%</li>
                        <li>$0 origination or prepayment fees</li>
                    </ul>
                    <div class="lend-div">
                        <button class="btn signup">SIGN UP TODAY</button>
                        <img class="lend" src="assets/lend.svg" alt="">
                    </div>
                    <p class="sm">* Not available in all jurisdictions. <br>Please see Borrower Portal for more information.</p>
                </div>
                <div class="the-right"><img src="assets/the-img.png" alt=""></div>
            </div>
        </div>
    </div>
</section>