<section class="process">
    <div class="container">
        <p class="pd-heading">OUR PROCESS</p>
        <h1 class="pd-title">How do I request for a loan?</h1>
        <div class="cards-cont">
            <div class="pd-cards">
                <div class="index">01</div>
                <h1 class="title">Sign up and verify</h1>
                <ul class="pd-list">
                    <li>Create a SALT</li>
                    <li>account and</li>
                    <li>complete identity</li>
                    <li>verification</li>
                </ul>
            </div>
            <div class="pd-cards">
                <div class="index">02</div>
                <h1 class="title">Customize Loan</h1>
                <ul class="pd-list">
                    <li>Select your borrowing</li>
                    <li>preferences and</li>
                    <li>submit your loan</li>
                    <li>application</li>
                </ul>
            </div>
            <div class="pd-cards">
                <div class="index">03</div>
                <h1 class="title">Deposit Collateral</h1>
                <ul class="pd-list">
                    <li>Send assets to your</li>
                    <li>unique, multi-</li>
                    <li>signature SALT</li>
                    <li>collateral wallet</li>
                </ul>
            </div>
            <div class="pd-cards">
                <div class="index">04</div>
                <h1 class="title">Get Funding</h1>
                <ul class="pd-list">
                    <li>Once approved,</li>
                    <li>receive cash, TUSD,</li>
                    <li>or USDC directly to</li>
                    <li>your account</li>
                </ul>
            </div>
        </div>
        <button class="btn pd-btn">APPLY NOW</button>
    </div>
</section>