<section class="the-difference">
    <div class="container">
        <p class="heading">THE DIFFERENCE</p>
        <h1 class="diff-title">A loan backed by your crypto, not your credit score.</h1>
        <ul class="diff-list">
            <li><span></span>
                <span>SALT LOAN</span><span>TRADITIONAL LOAN</span></li>
            <li><span>
Focused on helping you HODL
            </span>
                <span><img src="assets/tick.svg" alt=""></span><span><img src="assets/cross.svg" alt=""></span>
            </li>
            <li><span>
No prepayment fees
            </span>
                <span><img src="assets/tick.svg" alt=""></span><span><img src="assets/cross.svg" alt=""></span>
            </li>
            <li><span>
No origination fees
            </span>
                <span><img src="assets/tick.svg" alt=""></span><span><img src="assets/cross.svg" alt=""></span>
            </li>
            <li><span>
No impact on your credit score
            </span>
                <span><img src="assets/tick.svg" alt=""></span><span><img src="assets/cross.svg" alt=""></span>
            </li>
            <li><span>
No borrowing against future income, only against collateral you already own
            </span>
                <span><img src="assets/tick.svg" alt=""></span><span><img src="assets/cross.svg" alt=""></span>
            </li>
            <li><span>
 Loan amount determined by your available crypto collateral
            </span>
                <span><img src="assets/tick.svg" alt=""></span><span><img src="assets/cross.svg" alt=""></span>
            </li>
            <li><span>
 Option to choose stablecoin payouts
            </span>
                <span><img src="assets/tick.svg" alt=""></span><span><img src="assets/cross.svg" alt=""></span>
            </li>
            <li><span>
Opportunity to grow crypto holdings
            </span>
                <span><img src="assets/tick.svg" alt=""></span><span><img src="assets/cross.svg" alt=""></span>
            </li>

        </ul>
        <div class="link"><a href=""> SEE HOW WE STACK UP AGAINST OUR COMPETITORS</a><img src="assets/arrow.svg" alt=""></div>
    </div>
</section>