        .the-difference {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .container {
            flex-direction: column;
            align-items: center;
            padding: 120px 0;
        }
        
        .heading {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 40px !important;
        }
        
        .diff-title {
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 80px;
        }
        
        .diff-list {
            width: 100%;
        }
        
        .diff-list li {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            line-height: 3;
            border-bottom: solid grey 1px;
        }
        
        .diff-list li span:nth-child(1) {
            width: 60%;
            font-size: 20px;
            color: #1c1c1c;
        }
        
        .diff-list li span:nth-child(2) img {
            width: 25px;
        }
        
        .diff-list li span:nth-child(3) img {
            width: 25px;
        }
        
        .diff-list li span:nth-child(2) {
            display: flex;
            justify-content: center;
            width: 15%;
            color: #5A33E3;
            font-weight: 700;
        }
        
        .diff-list li span:nth-child(3) {
            display: flex;
            justify-content: center;
            width: 15%;
            color: #5A33E3;
            font-weight: 700;
        }
        
        .link {
            text-align: left;
            /* border: solid red; */
            margin-top: 50px;
            width: 100%;
        }
        
        .link a {
            color: #5A33E3;
            text-decoration: underline;
        }
        
        @media screen and (max-width:1024px) {
            .the-difference {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .container {
                flex-direction: column;
                align-items: center;
                padding: 60px 20px;
            }
            .heading {
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 40px !important;
            }
            .diff-title {
                font-size: 28px;
                font-weight: 700;
                margin-bottom: 0px;
                text-align: center;
            }
            .diff-list {
                width: 100%;
            }
            .diff-list li {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                line-height: 1.2;
                padding: 17px 0;
                border-bottom: solid grey 1px;
            }
            .diff-list li span:nth-child(1) {
                width: 60%;
                font-size: 20px;
                color: #1c1c1c;
            }
            .diff-list li span:nth-child(2) img {
                width: 25px;
            }
            .diff-list li span:nth-child(3) img {
                width: 25px;
            }
            .diff-list li span:nth-child(2) {
                display: flex;
                justify-content: center;
                width: 15%;
                color: #5A33E3;
                font-weight: 700;
            }
            .diff-list li span:nth-child(3) {
                display: flex;
                justify-content: center;
                width: 15%;
                color: #5A33E3;
                font-weight: 700;
            }
            .link {
                text-align: left;
                /* border: solid red; */
                margin-top: 50px;
                width: 100%;
            }
            .link a {
                color: #5A33E3;
                text-decoration: underline;
            }
        }
        
        @media screen and (max-width:500px) {
            .diff-list {
                width: 100%;
                overflow: scroll;
            }
            .diff-list li {
                width: 650px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                line-height: 1.2;
                padding: 17px 0;
                border-bottom: solid grey 1px;
            }
        }