<section class="security">
    <img src="assets/safe-v.svg" alt="" class="vec">
    <div class="container">
        <p class="heading">
            SECURITY & CONTROLS
        </p>
        <h1 class="title">How We Keep Your Crypto Safe</h1>
        <div class="cards-cont">
            <div class="cards">
                <div class="head">
                    <img src="assets/security/v1.svg" alt="">
                    <h1 class="card-title">Fireblocks Partnership</h1>
                </div>
                <div class="para">
                    <p>We’ve partnered with Fireblocks– a trusted custody management platform that many top crypto companies rely on for the safe, secure transfer of collateral assets– and are excited about their approach to MPC technology primarily because
                        it means enhanced security for you as well as faster transactions for both SALT and our customers.</p>
                </div>
            </div>
            <div class="cards">
                <div class="head">
                    <img src="assets/security/v2.svg" alt="">
                    <h1 class="card-title">Insurance</h1>
                </div>
                <div class="para">
                    <p>Similar to Fireblocks, SALT maintains Cyber Insurance, meaning the company will be covered in the event of cyber-related incidents (e.g. cyber breaches, cyber extortion, technology errors or failures, loss of data assets, etc.) as
                        well as theft of crypto assets resulting from such incidents. Fireblocks’ eCrime Event coverage also covers assets in transit.</p>
                </div>
            </div>
            <div class="cards">
                <div class="head">
                    <img src="assets/security/v3.svg" alt="">
                    <h1 class="card-title">Custody Agnostic</h1>
                </div>
                <div class="para">
                    <p>We recently announced our new custody agnostic approach, which allows us to distribute risk, enhance security, reduce interest rates, fund loans more swiftly, and focus on expanding our suite of wealth preservation products.</p>
                </div>
            </div>
            <div class="cards">
                <div class="head">
                    <img src="assets/security/v4.svg" alt="">
                    <h1 class="card-title">Reliable Access to Assets</h1>
                </div>
                <div class="para">
                    <p>Our custody process and custody partners, like Fireblocks, require multi-user authorization, meaning that access to your assets never hinges on one individual. You can count on us to be available to return your assets.</p>
                </div>
            </div>
        </div>
    </div>
</section>