<section class="products">
    <div class="container">
        <div class="pro-right">
            <p class="pro-heading">OUR LOAN PRODUCTS</p>
            <h1 class="pro-title">Choose the loan option that best fits your financial strategy.</h1>
            <div class="link"><a href=""> LEARN MORE ABOUT <br> OUR LOAN FEATURES</a><img src="assets/arrow.svg" alt=""></div>

        </div>
        <div class="pro-left">
            <div class="cards">
                <h1 class="pro-card-title">Business Loan</h1>
                <ul class="pro-list">
                    <p>You can:</p>
                    <li>Start a new business</li>
                    <li>Fund your company</li>
                    <li>Expand your business</li>
                </ul><button class="btn pro-btn">APPLY NOW</button>
                <div class="card-link"><a href="">LEARN MORE</a><img src="assets/gr-arrow.svg" alt=""></div>
            </div>
            <div class="cards">
                <h1 class="pro-card-title">Personal Loan</h1>
                <ul class="pro-list">
                    <p>You can:</p>
                    <li>Reinvest your money</li>
                    <li>Renovate your home</li>
                    <li>Make a big purchase</li>
                </ul><button class="btn pro-btn">APPLY NOW</button>
                <div class="card-link"><a href="">LEARN MORE</a><img src="assets/gr-arrow.svg" alt=""></div>
            </div>
        </div>
    </div>
</section>