<section class="reviews">
    <div class="container">
        <h1 class="title">Don’t just take our word for it, see what others are saying</h1>
        <div class="slider-cont">
            <div class="swiper review-slide">
                <div class="swiper-wrapper">
                    <div class="swiper-slide reviews-slide">
                        <ul class="ratings list-unstyled">
                            <img src="assets/star-filled.svg" alt="" class="star">
                            <img src="assets/star-filled.svg" alt="" class="star">
                            <img src="assets/star-filled.svg" alt="" class="star">
                            <img src="assets/star-filled.svg" alt="" class="star">
                            <img src="assets/star-empty.svg" alt="" class="star">
                        </ul>
                        <p class="review">
                            “I used to have Dave, but they only gave me $20 from my paycheck. I tried this app and the advance that I get was $100 from my paycheck. I just love this app and I recommend it to all of you!”
                        </p>
                        <p class="reviewer">
                            Bill L. Loan Holder
                        </p>
                    </div>
                    <div class="swiper-slide reviews-slide">
                        <ul class="ratings list-unstyled">
                            <img src="assets/star-filled.svg" alt="" class="star">
                            <img src="assets/star-filled.svg" alt="" class="star">
                            <img src="assets/star-filled.svg" alt="" class="star">
                            <img src="assets/star-filled.svg" alt="" class="star">
                            <img src="assets/star-empty.svg" alt="" class="star">
                        </ul>
                        <p class="review">
                            “I used to have Dave, but they only gave me $20 from my paycheck. I tried this app and the advance that I get was $100 from my paycheck. I just love this app and I recommend it to all of you!”
                        </p>
                        <p class="reviewer">
                            Bill L. Loan Holder
                        </p>
                    </div>
                    <div class="swiper-slide reviews-slide">
                        <ul class="ratings list-unstyled">
                            <img src="assets/star-filled.svg" alt="" class="star">
                            <img src="assets/star-filled.svg" alt="" class="star">
                            <img src="assets/star-filled.svg" alt="" class="star">
                            <img src="assets/star-filled.svg" alt="" class="star">
                            <img src="assets/star-empty.svg" alt="" class="star">
                        </ul>
                        <p class="review">
                            “I used to have Dave, but they only gave me $20 from my paycheck. I tried this app and the advance that I get was $100 from my paycheck. I just love this app and I recommend it to all of you!”
                        </p>
                        <p class="reviewer">
                            Bill L. Loan Holder
                        </p>
                    </div>
                    <div class="swiper-slide reviews-slide">
                        <ul class="ratings list-unstyled">
                            <img src="assets/star-filled.svg" alt="" class="star">
                            <img src="assets/star-filled.svg" alt="" class="star">
                            <img src="assets/star-filled.svg" alt="" class="star">
                            <img src="assets/star-filled.svg" alt="" class="star">
                            <img src="assets/star-empty.svg" alt="" class="star">
                        </ul>
                        <p class="review">
                            “I used to have Dave, but they only gave me $20 from my paycheck. I tried this app and the advance that I get was $100 from my paycheck. I just love this app and I recommend it to all of you!”
                        </p>
                        <p class="reviewer">
                            Bill L. Loan Holder
                        </p>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>